<%- include('partials/header') %>

     <% if (paciente) { %>
      
    <h1>Detalles del Paciente</h1>
    <ul>
        <li><strong>Id:</strong> <%= paciente.id %></li>
        <li><strong>Nombre:</strong> <%= paciente.nombre %></li>
        <li><strong>Apellidos:</strong> <%= paciente.apellidos %></li>
        <li><strong>Fecha Nacimiento:</strong> <%= new Date(paciente.fechaDeNacimiento).toLocaleDateString('es-ES') %></li>
    </ul>
        <% } %>
    <a href="/">Volver a la lista de pacientes</a>
    <%- include('partials/footer') %>