<%- include('partials/header') %>

<h1>Lista de Pacientes</h1>

  <ul>
<% pacientes.forEach(function(paciente) { %>
  <li>
    <strong>
      <%= paciente.nombre %>
        <%= paciente.apellidos %>
        <!-- Botón para ver el paciente -->
        <a href="/paciente/pacientes/<%= paciente.id %>">Ver</a> 
        <!-- Botón para actualizar el paciente -->
        <a href="/paciente/pacientes/editar/<%= paciente.id %>">Actualizar</a>
        <!-- Botón para eliminar el paciente -->
         <form action="/paciente/pacientes/<%= paciente.id %>?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit">Eliminar</button>
        </form>
    </li>
   <% }); %>
  </ul>
  

  <!-- Nuevo paciente -->

  <h2>Agregar Nuevo Paciente </h2>
  <form action="/paciente/pacientes" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required>
    <br>
    <label for="fechaDeNacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" required>
    <br>
    <button type="submit">Agregar Paciente</button>
  </form> 

    <%- include('partials/footer') %>